{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends sonata_block.templates.block_base %}

{% block block %}
    {% for group in groups %}
        {% set display = (group.roles is empty or is_granted('ROLE_SUPER_ADMIN') ) %}

        {% for role in group.roles if not display %}
            {% set display = is_granted(role)%}
        {% endfor %}

        {# sprava stranek pro super admina #}
        {% if group.label == 'sonata_site' %}
			{% set display = is_granted('ROLE_SUPER_ADMIN')%}
        {% endif %}

        {% if display %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">{{ group.label|trans({}, group.label_catalogue) }}</h3>
                </div>
                <div class="box-body">
                    <table class="table table-hover">
                        <tbody>
                            {% for admin in group.items %}
                                {% set adminClass = get_class(admin) %}

                                {% set admin_display = true %}

								{% if adminClass == 'EventOrganizeEntryPointsAdmin' and not pz_has_organizer_points_system %}
									{% set admin_display = false %}
								{% endif %}

								{% if adminClass == 'WalletTransferAdmin' and not app.user.hasFamilyMembers() and not admin.isAdmin() %}
									{% set admin_display = false %}
								{% endif %}

								{% if adminClass in ['PerformanceGroupAdmin','WalletDiscountTypeAdmin'] and not pz_has_event_financial_support %}
									{% set admin_display = false %}
								{% endif %}

								{% if adminClass in ['ClubEventEntryOverallAdmin','EventEntryOverallAdmin','EventOrganizeEntryOverallAdmin'] and not app.user.hasRemoteUsers() and not admin.isAdmin() %}
									{% set admin_display = false %}
								{% endif %}

                                {% if admin_display and (admin.hasroute('create') and admin.isGranted('CREATE') or admin.hasroute('list') and admin.isGranted('LIST')) %}
                                    <tr>
                                        <td class="sonata-ba-list-label" width="40%">
                                            {# UserAdmin hack #}
                                            {% if adminClass == 'UserAdmin' and not admin.showAddBtnInDashboard() %}
                                                {{ 'user_account.dashboard.title'|trans({}, admin.translationdomain) }}
                                            {% elseif (adminClass == 'EventOrganizeEntryAdmin' and admin.isGranted('ROLE_PZ_ADMIN_EVENT_ORGANIZE_ENTRY_ADMIN')) %}
												Přihlášky
                                            {% else %}
                                                {{ admin.label|trans({}, admin.translationdomain) }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="btn-group">
                                                {% if (not admin.showAddBtnInDashboard is defined or admin.showAddBtnInDashboard()) and admin.hasroute('create') and admin.isGranted('CREATE') %}
                                                    {% if admin.subClasses is empty %}
                                                        <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('create')}}">
                                                            <i class="fa fa-plus-circle"></i>
                                                            {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                        </a>
                                                    {% else %}
                                                        <a class="btn btn-link btn-flat dropdown-toggle" data-toggle="dropdown" href="#">
                                                            <i class="fa fa-plus-circle"></i>
                                                            {% trans from 'SonataAdminBundle' %}link_add{% endtrans %}
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="dropdown-menu">
                                                            {% for subclass in admin.subclasses|keys %}
                                                                <li>
                                                                    <a href="{{ admin.generateUrl('create', {'subclass': subclass}) }}">{{ subclass|trans({}, admin.translationdomain) }}</a>
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                {% endif %}
                                                {% if (not admin.showListBtnInDashboard is defined or admin.showListBtnInDashboard()) and admin.isGranted('LIST') %}
                                                    <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('list')}}">
                                                        <i class="glyphicon glyphicon-list"></i>
                                                        {% trans from 'SonataAdminBundle' %}link_list{% endtrans -%}
                                                    </a>
                                                {% endif %}
                                                {# UserAdmin hack #}
                                                {% if adminClass == 'UserAdmin' and not admin.isAdmin() and admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                                    <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('edit', {'id': app.user.id})}}">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                        {% trans from 'Ok99PrivateZoneAdminBundle' %}link_edit{% endtrans -%}
                                                    </a>
                                                {# SettingsAdmin hack #}
                                                {% elseif adminClass == 'SettingsAdmin' and admin.hasroute('edit') and admin.isGranted('EDIT') %}
                                                    <a class="btn btn-link btn-flat" href="{{ admin.generateUrl('edit', {'id': 1})}}">
                                                        <i class="glyphicon glyphicon-edit"></i>
                                                        {% trans from 'Ok99PrivateZoneAdminBundle' %}link_edit{% endtrans -%}
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}
