{% block ok99_privatezone_translations_widget %}

    {{ form_errors(form) }}

    <div class="ok99_privatezone_translations tabbable nav-tabs-custom">
        <ul class="ok99_privatezone_translationsLocales nav nav-tabs">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <li {% if loop.first %}class="active"{% endif %}>
                <a href="#" data-toggle="tab" data-target=".ok99_privatezone_translationsFields-{{ locale }}">
                    <em class="flag flag-{{ locale}}">{{ locale|capitalize }}</em>
                    {% if translationsFields.vars.required %}*{% endif %}
                </a>
            </li>
        {% endfor %}
        </ul>

        <div class="ok99_privatezone_translationsFields tab-content">
        {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div class="ok99_privatezone_translationsFields-{{ locale }} tab-pane {% if loop.first %}active{% endif %}">
                {{ form_errors(translationsFields) }}
                {{ form_widget(translationsFields) }}
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block ok99_privatezone_translationsForms_widget %}
    {{ block('ok99_privatezone_translations_widget') }}
{% endblock %}